.alerts
  position: fixed
  top: 0
  left: -100%
  bottom: 0
  width: 100%
  +padding(1)
  z-index: 9999
  display: flex
  flex-direction: column
  justify-content: flex-end

  +at-breakpoint(desk)
    left: -400px
    width: 400px

.alert__item
  background: $black-color
  width: 100%
  height: 100px
  color: $white-color
  border-radius: 4px
  display: flex
  align-items: center
  transition: .5s
  transform: translateX(100%)
  +margin-left(2)

  &:not(:first-child)
    +margin-top(1)

  &.close
    transform: translateX(0)
    height: 0
    margin: 0

.alert__icon
  width: 30px
  height: 30px
  +horizontal-margin(3)
  mask-repeat: no-repeat
  mask-position: center
  mask-size: contain

.alert__content
  color: $white-color
  +font-size(zeta)

.alert__link
  display: block
  text-transform: uppercase
  +font-size(eta)
  font-weight: bold
  +margin-top(1)
  color: rgba($white-color,.75)

  &:hover
    text-decoration: none
    color: $white-color