.breadcrumbs
  display: flex
  +vertical-padding(2)

.breadcrumbs__item
  &:not(:last-child)
    +margin-right(1)

.breadcrumbs__label
  display: inline-block
  +margin-right(1)

.breadcrumbs__icon
  display: inline-block

.breadcrumbs__link
  color: $primary-color