// Bemo Form component
//

.form
  fieldset
    +padding(2)
    +margin-bottom(2)

    &:last-child
      margin-bottom: 0

    legend
      +font-size(beta)
      margin: 0 -10px
      padding: 0 10px

  hr
    +vertical-margin(2)

.form__field
  +margin-bottom(2)

  &.select
    display: inline-flex
    flex-direction: column

.form__label
  +margin-bottom(1)
  +padding-right(2)
  word-break: break-word
  font-weight: bold
  display: inline-flex 
  flex-direction: row-reverse

  &.required
    abbr
      color: $error-color
      margin-left: 5px

.form__input
  +font-size(regular)
  +horizontal-padding(1)
  +vertical-padding(1.5)
  border: 1px solid $gray-l-color
  border-radius: 0.1rem
  transition: border 0.2s cubic-bezier(.55,0,.1,1)
  width: 100%
  border-radius: 4px

  &:hover,
  &:not(:placeholder-shown)
    border: 1px solid $gray-color
  
  // &:not(:placeholder-shown):invalid
  //   border: 1px solid lighten($error-color,20%)
  //   background: rgba($error-color,.15)
  
  &.disabled
    color: $black-color
    background: $gray-l-color
    border: 1px solid $gray-l-color 

    &:hover,
    &:not(:placeholder-shown) 
      border: 1px solid transparent

@each $input in $inputs-list
  #{$input}.form__input
    @extend .form__input

.form__actions
  +margin-top(2)

.form__field--invalid
  #{$all-text-inputs}, textarea
    border: 1px solid $gray-color

.form__error
  +font-size(theta)
  +margin-top(1)
  color: $gray-color

.form__hint
  +font-size(theta)
  +margin-top(1)
  color: $base-body-color

.form__block
  +margin-bottom(3)
  +padding-bottom(3)

.form__field--with-prefix
  position: relative

  .form__field__prefix
    +center-vertically
    left: 0px
    text-align: right
    width: 2em
    z-index: 2

  .form__field__input *
    padding-left: 2.5em
