.subnav
  +margin-bottom(1)
  display: flex
  flex-wrap: wrap
  height: 100%
  
.subnav__link
  +vertical-padding(1.5)
  +horizontal-padding(2)
  transition: .15s
  border-bottom: 1px solid $gray-color
  flex: 0 0 auto

  &:hover
    text-decoration: none
    box-shadow: 0 -3px 0 $secondary-color inset

  &:focus, 
  &:active
    text-decoration: none

  &.is-active
    text-decoration: none
    color: $secondary-color
    box-shadow: 0 -3px 0 $secondary-color inset