// Bemo Tab component
//
// @example usage:
//  .tab
//    .tab__item
//      .tab__item__link
//    .tab__content
//      .tab__content__item

.tab
  +margin-bottom(1)
  list-style: none
  
.tab__item
  display: inline-block
  margin-bottom: 1px

.tab__item__link
  +vertical-padding(1.5)
  +horizontal-padding(2)
  background: $white-color
  display: inline-block
  transition: box-shadow .15s
  white-space: nowrap
  box-shadow: -1px 0 0 $gray-l-color inset,0 0 0 $secondary-color inset
  position: relative
  z-index: 1

  &:first-child
    border-radius: 5px 0 0 0
  
  &:last-child
    border-radius: 0 5px 0 0

  &::before
    content: ""
    position: absolute
    top: 100%
    left: 0
    right: 0
    height: 1px
    background: $gray-l-color
    z-index: 1
 
  &:hover,
  &:focus,
  &:active
    box-shadow: -1px 0 0 $gray-l-color inset,0 -3px 0 $secondary-color inset
    color: $black-color
    text-decoration: none

  &.is-active
    color: $secondary-color
    box-shadow: -1px 0 0 $gray-l-color inset,0 -3px 0 $secondary-color inset

.tab__content
  @extend .card
  border-radius: 0 0 5px 5px
  display: block
  z-index: 1

.tab__content__item
  display: none
  
  &.is-active
    display: block

.tab__header
  @extend .card__header
.tab__body
  @extend .card__body
.tab__footer
  @extend .card__footer

.tab--small
  @extend .tab
  font-size: 11px

  .tab__item__link
    +vertical-padding(1)
    +horizontal-padding(.5)