.icon__list
  display: flex
  align-items: center

  & > * + *
    +margin-left(2)

    +at-breakpoint(desk)
      +margin-left(1)

  .icon
    width: 20px
    height: 20px
    
    +at-breakpoint(lte-tab)
      width: 25px
      height: 25px


.icon
  width: 20px
  height: 20px
  mask-repeat: no-repeat
  mask-position: center
  mask-size: contain
  background: currentcolor

@each $icon, $value in $background-icons
  [data-icon=#{$icon}]
    mask-image: icon-url($value)

// Icon Sizes
@if $enable-icon-size
  .icon--small
    @extend .icon
    width: 10px
    height: 10px

  @if $enable-icon-colored
    @each $color, $value in $theme-colors
      .icon--small-#{$color}
        @extend .icon--small
        color: $value
        
  .icon--big
    @extend .icon
    width: 30px
    height: 30px

  @if $enable-icon-colored
    @each $color, $value in $theme-colors
      .icon--big-#{$color}
        @extend .icon--big
        color: $value
        
// Icon colored
@if $enable-icon-colored
  @each $color, $value in $theme-colors
    .icon--#{$color}
      @extend .icon
      color: $value