.user
  display: flex
  justify-content: space-between
  align-items: center
  min-width: 150px
  width: 100%
  position: relative
  
  +at-breakpoint(desk)
    width: 200px

.user__image
  flex: 0 0 40px
  display: flex
  justify-content: center
  align-items: center
  border-radius: 50%
  overflow: hidden
  +margin-right(2)
  text-align: center

  span
    display: inline-block
    color: $white-color
    font-weight: bold
    background-color: $primary-color
    width: 40px
    height: 40px
    +padding-top(1)

.user__name
  +font-size(eta) 
  flex: 1 0 125px
  max-width: 125px

  div
    max-width: 100%
    text-overflow: ellipsis
    overflow: hidden

.user__actions
  flex: 0 0 auto
  display: flex
  justify-content: center
  align-items: center

.user__content
  position: absolute
  top: calc(100% + 16px)
  left: 0
  right: 0
  background: $gray-l-color
  box-shadow: 0 5px 15px -10px $black-l-color
  z-index: 1

.user__menu
  +margin(2)